.sidebar {
	width: 13em;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 1em;
	padding-left: 0.8em;
	padding-bottom: 1em;

	box-sizing: border-box;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.sidebar-vertical-padding {
	flex-grow: 1;
}

.navelem {
	display: block;
	width: 100%;
	margin: 2px;
	padding: 5px;
	background-color: var(--panel);
	color: unset;
	text-decoration: unset;

	/* To unset properties of buttons */
	border: unset;
	text-align: unset;
	font: unset;
	box-sizing: content-box;
}

.content {
	margin-left: 16em;
	width: auto;
	padding: 0;
	margin-top: 3em;
}
